services:
  mysql:
    image: mysql:8.4
    environment:
      MYSQL_DATABASE: commercia
      MYSQL_USER: commercia
      MYSQL_PASSWORD: commercia
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: commercia
      POSTGRES_USER: commercia
      POSTGRES_PASSWORD: commercia
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  mysql_data:
  postgres_data:
